
@import "http://fonts.googleapis.com/css?family=Roboto+Condensed:300";
@import "http://fonts.googleapis.com/css?family=Raleway:400,200";

/*Pull in bootstrap's stylesheet */
@import URL(bootstrap.css);

body{background: yellow}

/**  My Custom Styles
    CSS extraction begins 
**/ 
header{
    margin: 0;
    padding-top: 20px;
    margin-left: 10px;
   
}
        
#nav-bar a{ 
    font-family: Raleway;
    color: #37403f;
    font-size: 24px;
    font-weight: 400;
    width: 351px;
    height: 150px;
    margin-left: 5px;
    margin-top: 2px;
    padding: .5em;
    border: 0 none;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out 0s;

  
}
/** Centered TFO Logo **/
#nav-bar img{
    width: 306px;
    height: 150px;
    margin-right:auto;
    margin-left: auto;
    position: absolute;
    text-align: center;
    margin-left: 125px; 
}
/** 
#nav-bar img{
   position: absolute;
   width: 306px;
   height: 150px;
   right: 50%;
   left: 50%;
   margin-left: -150px; 
   margin-right: 20px;
   margin-top: 20px;

}

#nav-bar img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto 0 auto ;
}

**/
#nav-bar a:hover{
    animation: 0.5s ease-out 0s normal none 1 shiftUp;
    animation: 0.5s ease-out 0s normal none 1 shiftDown;
    border-bottom: 1px solid #777777;
    border-top: 1px solid #777777;
    color: #000000;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

#nav-social img{
    width: 42px;
    height: 46px;
    right:350px;
    position: relative;
    margin-left: 20px;
    margin-top: -3em;
    
    /*margin-left: auto;
    margin-right: 25px;
    margin-top: -3em;*/
  
     
}
    
#nav-search input{
    max-width: 30%;
    width: 203px;
    height: 38px;
    top: 20px;
    right: 130px;
    position:fixed;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    
    

}


/*#nav-social img{
    width: 42px;
    height: 46px;
    margin-left: 10px;
    margin-top: 13px;
    */
}
    
/*.left a{
    margin-left: 15px;
    padding-top: 20px;
    
}*/

    